<html>
<head>

	<title>Creations</title>

	
	<link rel="stylesheet" type="text/css" href="css/Workshop.css" />
	<link rel="stylesheet" type="text/css" href="css/creations/Creations.css" />

	<script type="text/javascript" src="js/lua.js"></script>

	<script type="text/javascript" src="js/thirdparty/jquery.js"></script>
	<script type="text/javascript" src="js/thirdparty/jquery-color.js"></script>
	<script type="text/javascript" src="js/thirdparty/angular.js"></script>

	<script type="text/javascript" src="js/menu/WorkshopFiles.js"></script>
	<script type="text/javascript" src="js/menu/control.Saves.js"></script>
	<script type="text/javascript" src="js/menu/control.Dupes.js"></script>

	<script type="text/javascript" src="js/svc.Tranny.js"></script>

	<script type="text/javascript" src="js/creations/creationsApp.js"></script>
	
</head>

<body ng-app="CreationsApp" ng-controller="CCreations">

	<div class="options">

		<!-- SAVES -->

		<ul>

			<li class="headline" ng-tranny="'saves'"></li>
			<li class="subtitle" ng-tranny="MapName"></li>

			<li ng-repeat="cat in Categories" class="clickable {{IfElse( Category == cat && CreationType == 'ws_save', 'active', 'notactive' )}}">
				<a ng-href='#/saves/{{cat}}/{{MapName}}/' ng-Tranny="'saves.'+cat" ng-show="cat != ''"></a>
				<span ng-show="cat == ''">&nbsp;</span>
			</li>
			
			<li>&nbsp;</li>
			<li><button ng-click="SaveSave();" ng-tranny="'save.savegame'" class="savegamebutton {{SaveDisabled}}">..</button></li>

		</ul>
				
		<!-- DUPES -->

		<ul>

			<li class="headline" ng-tranny="'dupes'"></li>
			<li class="subtitle"></li>

			<li ng-repeat="cat in Categories" class="clickable {{IfElse( Category == cat && CreationType == 'ws_dupe', 'active', 'notactive' )}}">
				<a ng-href='#/dupes/{{cat}}/{{MapName}}/' ng-Tranny="'dupes.'+cat" ng-show="cat != ''"></a>
				<span ng-show="cat == ''">&nbsp;</span>
			</li>

			<li>&nbsp;</li>

			<li><button ng-click="SaveDupe();" ng-tranny="'dupes.savedupe'" class="savedupebutton {{DupeDisabled}}" enabled="false">..</button></li>
			
		</ul>

			<!--
			<input type="button" value="Reload Page" onClick="document.location.reload(true)">
			-->
		

	</div>

	<div ng-view>

	</div>

</body>
</html>

