<html>
<head>

	<title>Creations</title>

	
	<link rel="stylesheet" type="text/css" href="css/Workshop.css" />
	<link rel="stylesheet" type="text/css" href="css/creations/Creations.css" />

	<script type="text/javascript" src="js/lua.js"></script>

	<script type="text/javascript" src="js/thirdparty/jquery.js"></script>
	<script type="text/javascript" src="js/thirdparty/jquery-color.js"></script>
	<script type="text/javascript" src="js/thirdparty/angular.js"></script>

	<script type="text/javascript" src="js/menu/WorkshopFiles.js"></script>
	<script type="text/javascript" src="js/svc.Tranny.js"></script>

	<script type="text/javascript" src="js/creations/saves.js"></script>
	<script type="text/javascript" src="js/creations/common.js"></script>
	<script type="text/javascript" src="js/menu/control.Saves.js"></script>
	
</head>

<body ng-app="CSavesApp" ng-controller="CSaves">

	<div class="options">
			
		<!-- SAVES -->

		<ul>

			<li class="headline" ng-tranny="'saves'"></li>
			<li class="subtitle"></li>

			<li ng-repeat="cat in Categories" class="clickable {{IfElse( Category == cat, 'active', 'notactive' )}}">

				<a ng-href='#/list/{{cat}}/' ng-Tranny="'saves.'+cat" ng-show="cat != ''" class="{{IfElse( Category == cat, 'active', 'notactive' )}}"></a>

				<ul ng-show="cat == Category" style="margin-top: 4px; margin-bottom: 15px;">
					<li ng-repeat="subcat in SubCategories" class="clickable {{IfElse( Tagged == subcat, 'active', 'notactive' )}}">
						<a ng-href='#/list/{{cat}}/{{subcat}}/' ng-Tranny="'saves.'+subcat" ng-show="cat != ''" class="{{IfElse( Tagged == subcat, 'active', 'notactive' )}}">{{subcat}}</a>
					</li>
				</ul>

			</li>

			<li>&nbsp;</li>

			<li ng-repeat="cat in SimpleCategories" class="clickable {{IfElse( Category == cat, 'active', 'notactive' )}}">
				<a ng-href='#/list/{{cat}}/' ng-Tranny="'saves.'+cat" ng-show="cat != ''" class="{{IfElse( Category == cat, 'active', 'notactive' )}}"></a>
			</li>

			<li>&nbsp;</li>
			<li><button ng-click="SaveSave();" ng-tranny="'save.savegame'" class="savegamebutton {{SaveDisabled}}">..</button></li>
			
		</ul>

			<!--
			<input type="button" value="Reload Page" onClick="document.location.reload(true)">
			-->
		

	</div>

	<div ng-view>

	</div>

</body>
</html>

